
body {
  background-color: #fff;
  color: #857551;
}

nav > ul > li > a {
  color: #ff002c;
}
nav > ul > li > a:visited{
  color: #ff002c;

.case-content {
  background-color: #fff;
  color: #000;
}
.case-content p {
  color: #857551;
}
a {
  color: #ff002c;
}

a.hover {
  color: #ff002c;
}

.descriptor {
  color: #ff002c;
}

 b {
   color: #ff002c;
 }

.case-next-link {
  color: #ff002c;
}

.home-projects-title {
  color: #fff;
}

.fa-bars:before {
  color: #ff002c;
}

li {
  color: #ff0069;
}



.case-text-title {
  color: #857551;
}
