
body {
  background-color: #1e1429;
  color: #fff;
}
span {
  color: #827392;
  font-weight:600;
}

nav > ul > li > a {
  color: #db4547;
}
nav > ul > li > a:visited{
  color: #db4547;
}
.case-content {
  background-color: #fff;
  color: #000;
}
p {
  color: #827392;
}
a {
  color: #db4547;
}

a:hover {
  color: #db4547;
}
a:visited {
  color:#db4547;
}

.descriptor {
  color: #db4547;
}



.case-next-link {
  color: #db4547;
}

.home-projects-title {
  color: #fff;
}

.fa-bars:before {
  color: #db4547;
}

li {
  color: #db4547;
}
.case-content-headline {
  color: #888092;
}

.case-text-title {
  color: #030d26;
}

.case-text-content {
  color: #827392;
}

.case-text-tagline {
  color: #827392;
}

.container-r {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 height: 100%;
}

/* ==============================
Large devices (1024px or larger)///////////////////////////1024////////////////////////////
================================= */
@media only screen and (min-width: 1024px) {
  .container-r {
    width: 900px;
    height: 550px;
  }
}
