
body {
  background-color: #1a1034;
  color: #fff;
}

a {
  color: #8558ff;
}

a.hover {
  color: #8558ff;
}

.descriptor {
  color: #8558ff;
}

 b {
   color: #8558ff;
 }

.case-next-link {
  color: #8558ff;
}

.home-projects-title {
  color: #fff;
}

.fa-bars:before {
  color: #8558ff;
}

li {
  color: #8558ff;
}
