/*
Colors used:
Background: #f6eae3;
Font: #2222222;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #fff4ea;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  -webkit-font-smoothing: antialiased;

}




header {
  background-color: #f6eae3;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow:  0px 1px 12px 0px rgba(50, 50, 50, 0.46);
  position: relative;
}

.navtoggle {

}

#myNavtoggle {

}


h1, h2, h3, h4 {
  font-family: 'maiola', serif;
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.0;
  vertical-align: baseline;
  letter-spacing: -4px;

}

h2 {
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2.descriptor {
  font-size: 0.8em;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  letter-spacing:3.33px;

}

h3 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;


}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a, p, li {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  font-size: 1.40em;
}
img {
  width: 100%;
}
a {
  color: #222222;
  /*text-decoration: none; /* No underlining */
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  /*transform: translate(0px, 0px);
  transition: all 100ms ease-in-out;*/
  color: #222222; /* needed to override the default link color */
  font-weight: 400;
  font-size:20px;
  padding: 5px;
}

a:visited { /* visited link */
  color: #222222;
}
a:hover {
  color: #222222;
  /*margin-right: 14px;*/
  /*border: 1px solid #222222;*/
  /*background-color: #ffffff;*/
  color: #222222;
  perspective-origin: 50% 100%;
  /*transform: scale(1.5);*/
  font-weight: 400;
  text-decoration: none;
}
a:active { /* selected link */

}

a:focus {
  color: #222222;

}
.box-c .custom-underline::after {
top: 65%;
height: 2px !important;
width: 40%;
left: 30%;
background-color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease-out all .1s;
}

.box-c:hover .custom-underline::after {
width: 90%;
left: 5%;
  transition: 0.5s ease all;
}






/* CultureQuest */
}
.center {
  max-width: 1024px;
  margin-right:auto;
  margin-left: auto;
  padding-right: 35px;
  padding-left: 35px;
}
.case-header-inner {
  margin-left:auto;
}

.case-header-headline {
  margin-bottom: 40px;
  font-family: 'maiola', serif;
  font-size: 1.0rem;
  line-height: 1.3;
  letter-spacing: 1.2px;
}
.case-header-introduction {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.1;
}

.case-header-metas {
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 60px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 0.93rem;
  line-height: 1;
  padding-right: 35px;
  padding-left: 35px;

}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  padding:12px 18px 8px;
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  border-width: 1px;
  border-color: #e2e2e2;
  border-width: 1px;
  transform: translate(0px, 0px);
  transition: all 100ms ease-in-out;
  border-style: solid;
  color: #222222; /* needed to override the default link color */
  font-weight: 400;
  font-size:30px
  padding: 10px;
  border-radius: 50px;
}
.button:hover {
  margin-right: 14px;
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  perspective-origin: 50% 100%;
  transform: scale(1.5);
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  opacity: 1;
  outline: 0;
}

.button:active {}

  /*Email button*/
  .button.contact {
  background-color: transparent;
  color: #222222;
  text-transform: lowercase;
  border: 2px solid #222222;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
  content:"👋";
}
.button.contact:active {}

  /*little links*/
  .button.link {
    font-size: 0.6em;

  }



/* Layout styling */

.container {
  padding: 0 35px;
}


#work .row {
  margin: 25px 0;
}

#profilepicture {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #fff4ea;
  padding: 50px 0px;
  padding-bottom: 60px;
}

.hero h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}

:before {
  box-sizing: inherit;
}
.home-hero-content {
  width: 100%;
  margin-top: 40px;

}

.home-hero-content a::before {
  content: "/";
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;

}
.home-hero-content a:first-of-type::before {
  display: none;
  margin-left: 0;

}
.center {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
.home-projects {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 80px

}
.home-projects-title {
  position: relative;
  font-family: 'maiola', serif
  z-index: 2;
  color: #2222222;
  letter-spacing: .5em;
  line-height:1;
  text-transform: uppercase;

}

section {
  display: block;
}

div {
  display: block;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.home-projects. center {
  position: relative;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  margin: 25px 0;

}

#hero h1 {
  text-align: center;/* Centers text */

}
#footer {
  padding-top: 15px;
  padding-bottom: 15px
}
#footerpadding {
  padding: 15px;
  box-sizing: border-box;

}

.logo {
  max-width: 150px;
  min-width: 641px;
  margin:0 auto;
  display: block;

}

nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0;
  margin: 0 15px;
  text-transform: lowercase;
  font-weight: 200;
  color: #222222;
}
nav > ul > li > a:visited {

}
/*nav > ul > li > a:hover {
  border-top: 2px solid #4a4a4a;
}*/
nav > ul > li > a:active {

}
.social-media {
  text-align: center;
  padding-bottom: 10px;
}

.social-media a {
  display: inline-block;

}

.social-link {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}




#hero {
  background-color: #f6eae3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
footer {
  text-align: center;
  bottom: 0;
}
/* CultureQuest */

.project-title {
  font-size: 18px;
  letter-spacing: 0.1em;
}
.project-header-introduction {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  text-align: right;
  font-size:30px;

}


.tileContainer{
  border:10px solid black;
  display:inline-block;
  position:relative;
  width:1024px;
  height:768px;
  overflow:hidden;
  box-sizing:border-box;
}


.tile{
  position:relative;
  vertical-align:top;
  display:inline-block;
  border-right:1px solid rgba(0, 0, 0, 0.5);
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  box-sizing:border-box;
}

.tile:after{
  content:"";
  background-color:#cc1c32;
  width:6px;
  height:6px;
  position:absolute;
  top:100%;
  right:0px;
  transform:translate(50%, -50%);
  z-index:2;
  line-height:1;
}

/*-- no grid --*/

.noGrid .tile{
  border-right:0px solid rgba(0, 0, 0, 0.5);
  border-bottom:0px solid rgba(0, 0, 0, 0.5);
}

.noGrid .tile:after{
  content:none;
}


/* CSS Animation */

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes color-change1 {
  0% {color: #f9a2c5;}
  16% {color: #a4e4f7}
  32% {color: #f7a284}
  48% {color: #f7f5a1}
  66% {color: #baf7a4}
  82% {color: #edcaf9}
  100% {color: #f9a2c5}
}
.intro-heading span {
  animation: color-change1 6s infinite;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: color-change1;
  -webkit-text-stroke: 1px #222222;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(34, 34, 34);

}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    margin: 0;
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  h1 {
    font-size: 8em;
    font-weight: 700;
    line-height: 1.0;
    vertical-align: baseline;
    letter-spacing: -4px;

  }


  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .extra-padding-left {
    padding-left: 100px;
  }

  .skills-tools {
    background: #F5F5F5;
  }

  .center{
    max-width:1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right:45px;
    padding-left:45px;
  }

  .case-header-introduction {
    font-family:'Heebo', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 1.1;
  }
  .case-header-inner {
    max-width: 580px;
    margin-left: auto;
  }
  .case-header-headline {
    margin-bottom: 75px;
    font-family: 'maiola', serif;
    font-size: 1.0rem;
    line-height:1.3;
    letter-spacing: 1.2px;

  }
  .case-header-metas {
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 0.93rem;
    line-height: 1;

  }
  .home-hero-content {
    height: auto;
    width: 345px;
    margin-top: 145px;
    margin-right: 60px;
    margin-left: auto;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height:1.7;
  }
  .lead {
    margin-bottom: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    color: #222222
    font-size: 1.6rem;
    line-height: 1.52;

  }

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
